div#empty-card-genre {
	display: flex;
	justify-content: center;
	align-items: center;
	height: var(--size-5x);
	width: 100%;
	border-radius: 5px;
	background-color: var(--wsiw-grey-medium);
	color: var(--wsiw-grey-normal);
	transition: all .2s ease-out;
	animation: pulse-shadow 1.8s infinite;
}

div#empty-card-genre:hover {
	transform: scale(1.03);
	color: var(--wsiw-yellow);
	animation: none;
}

div#empty-card-genre #icon {
	width: 100%;
	height: 70%;
}

