	
div#empty-card {
	height: 25vh;
	width: 100%;
	border-radius: 15px;
	background-color: var(--wsiw-grey-medium);
	transition: all .2s ease-out;
	animation: pulse-shadow 1.3s infinite;
}

div#empty-card:hover {
	transform: scale(1.03);
	animation: none;
}

div#empty-card #plus {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 2.5em;
	display: block;
}

div#empty-card.button-circle {
	position: fixed;
	right: var(--size-2x);
	bottom: var(--size-2x);
	height: 60px;
	width: 60px;
	border-radius: 50%;

}

div#empty-card.button-circle #plus {
	font-size: 1em;
}
