div#page-series #container-series h2 { margin-bottom: var(--size-1x); }

div#page-series #footer-series {
	bottom: 0;
	color: var(--wsiw-grey-normal);
	padding: var(--size-1x);
	position: absolute;
	width: 90%;
}
	

