
div#header .header-navbar {
	background-color: var(--wsiw-grey-medium);
}

div#header .header-navbar a,
div#header .header-navbar #header-menu {
	color: var(--wsiw-yellow);
}

div#header .header-navbar #header-menu {
	margin: -15px;
}

div#header .header-navbar a {
	left: 48%;
	position: relative;
	transform: translateX(-50%);
}

div#header .header-navbar a#header-back {
	position: relative;
	left: 5px;
}



