@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:600&display=swap');

:root {
	--wsiw-grey-intense: #1D2937;
	--wsiw-grey-medium: #2A3949;
    --wsiw-grey-normal: #556B86;
    --wsiw-red: #F97575;
    --wsiw-yellow: #FACF5A;
	--wsiw-green: #71E4A9;	
}

* {
	box-sizing: border-box;
	margin: 0;
	outline: 0;
	padding: 0;
}

@media only screen and (max-width: 600px) {
	
	body {
		background: var(--wsiw-grey-intense);
		color: var(--wsiw-yellow);
		font-family: 'Josefin Sans', sans-serif;
	}

	div[id^="page-"] h1 { font-size: 24px; }

	div[id^="page-"] h2 { font-size: 18px; }

	div[id^="page-"] p { font-size: 14px; }
}
