button#edit {
	background: none;
	border: none;
	color: var(--wsiw-yellow);
	padding: 5px;
	position: fixed;
	right: 10px;
	top: 10px;
	z-index: 9999;
}

#form-series-modal .modal-content {
	background-color: var(--wsiw-grey-medium);
}

#form-series-modal .modal-header,
#form-series-modal .modal-footer {
	border: none;
}

#form-series-modal .modal-header span {
	
}

#form-series-modal button.btn {
	background-color: var(--wsiw-green);
	border: none;
	color: var(--wsiw-grey-intense); 
}

#form-series-modal button.btn#save {
	padding-left: 20px;
	padding-right: 20px;
}

#form-series-modal button.btn#close {
	background-color: var(--wsiw-red);
}

div#radios {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

div#radios div {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--wsiw-grey-normal);
	color: var(--wsiw-grey-intense);
	padding: 5px var(--size-1x);
	margin-bottom: 15px;
	border-radius: 5px;
}

div#radios div input[type=radio] {
	display: none;
}

div#radios div.to-watch {
	background-color: var(--wsiw-red);
}

div#radios div.watching {
	background-color: var(--wsiw-green);
}

div#radios div.assisted {
	background-color: var(--wsiw-yellow);
}

